<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../Public/Stylesheets/styles.css' />
    <meta name="robots" content="noindex,nofollow">
    <title>Tor Secure Password Generator</title>
</head>
<body>
    <noscript><p class="Normal">You need Javascript enabled to use the secure password generator. We suggest using security level 2 in your TOR browser.</p></noscript>
    
    <div class="Password_Generator">
        <div class="Password_Generator_Inner">
            <h1 class="Headline1">Tor Secure Password Generator</h1>
            <p class="Normal">Use this online password generator to create a secure password.</p>
            <div class="Password_Generator_Results_Wrapper">
                <p id="Password_Generator_Results">
                    <% if (generatedPassword && generatedPassword.length > 1) { %>
                        <%- generatedPassword %>
                    <% } else { %>
                        Click the button to generate your password    
                    <% }  %>
                </p>
            </div>
            <form action="/generatePassword" class="Password_Generator_Config" method="POST">
                <div class="Column">
                    <div class="Range_Wrapper">
                        <label for="config_characters">Password length</label>
                        <div class="Row">
                            <input type="number" value="30" min="5" max="70" name="config_passwordLength" class="Password_Length" />
                        </div>
                    </div>
                    <button type="submit" class="Password_Generate_Button">Generate password</button>
                </div>
                <div class="Column">
                    <div class="Checkbox_Wrapper">
                        <label for="config_useNumbers" class="Checkbox_Container">Numbers
                            <input type="checkbox" name="config_useNumbers" id="config_useNumbers" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="Checkbox_Wrapper">
                        <label for="config_useSymbols" class="Checkbox_Container">Symbols
                            <input type="checkbox" name="config_useSymbols" id="config_useSymbols" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="Checkbox_Wrapper">
                        <label for="config_useLowercase" class="Checkbox_Container">Lowercase
                            <input type="checkbox" name="config_useLowercase" id="config_useLowercase" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="Checkbox_Wrapper">
                        <label for="config_useUppercase" class="Checkbox_Container">Uppercase
                            <input type="checkbox" name="config_useUppercase" id="config_useUppercase" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <a class="Github_Link" href="https://github.com/WhereCanI/Tor_Secure_Password_Generator" target="_blank" aria-label="Github repository" title="Click to see the open source Github repository">Github repository</a>
    </div>
</body>
</html>